* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

/* Header */

#header {
    /* background-color: red; */
    grid-area: 1 / 2 / 1 / -1; /* row start / column start / row end / column end */
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.35);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header-grid-item {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-bar {
    grid-area: 1 / 1 / 2 / 4;
}

#notification {
    grid-area: 1 / 4 / 2 / 6;
}

#user-profile {
    grid-area: 2 / 1 / 3 / 3;
}

#actions {
    grid-area: 2 / 3 / 3 / 6;
}

#search-bar > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#search-bar > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
    font-size: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.profile > span {
    font-size: 1.5rem;
    font-weight: bold;
}

.mdi {
    font-size: 2rem;
}

.user-profile-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

.user-profile-span > span {
    font-weight: bold;
}

.user-profile-span > span:nth-child(2) {
    font-size: 2.3rem;
}

#actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#actions > button {
    padding: 1rem;
    border: none;
    background-color: #0095fd;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
}

/* Sidebar */

#sidebar {
    background-color: #0095fd;
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    overflow: auto;
    color: white;
    padding: 20px;
    gap: 8px;
}

.sidebar-grid-item:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 1rem;
}

.list-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding: 20px 0;
}

.list {
    list-style: none;
    padding: 1rem;
    display: block;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    gap: 1rem;
}

#dashboard-icon {
    font-size: 4rem;
}

/* Content */

#content {
    /* background-color: green; */
    grid-area: 2 / 2 / -1 / -1;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
}

#content > div {
    border: 1px solid black;
    padding: 1rem;
}

#content > div > p {
    font-size: 2rem;
    margin-bottom: 12px;
}

.projects-grid-item {
    display: grid;
    grid-auto-rows: 1fr;
}
